@import "./variables";
@media only screen and (max-width: 550px){

    header{
        padding-block: 25px;
        #logo-text{
            font-size: 28px;
            margin-left: 40px;
        }
        .mobile-menu{
            margin-right: 40px;
        }
    }

    .header-section{
        height: 600px;
        #header-img-headphones{
            top: 100px;
            width: 90px;
        }
        #header-img-sunglasses{
            top: 360px;
            left: 40px;
            width: 70px;
        }
        #header-img-pencil-1{
            top: 455px;
            left: 32px;
            width: 45px;
        }
        #header-img-pencil-2{
            top: 445px;
            left: 20px;
            width: 55px;
        }
        h1{
            margin-top: 230px;
            font-size: 28px;
            text-align: center;
        }
        h3{
            font-size: 12px;
            text-align: center;
            margin-right: 0;
        }
        #header-img-cork{
            top: 150px;
            right: 50px;
            width: 40px;
        }
        #header-img-glass{
            top: 145px;
            right: 42px;
            width: 38px;
        }
        #header-img-pen-holder{
            top: 330px;
            right: 15px;
            width: 50px;
        }
        #header-img-mouse{
            top: 400px;
            right: 90px;
            width: 30px;
        }
        #scroll-down-ico{
            margin-top: 170px;
            width: 17px;
        }
        p{
            font-size: 9px;
        }
    }

    .about-section{
        padding-block: 50px;
        .about-section-text{
            width: 300px;
            h3{
                font-size: 22.4px;
            }
            p{
                font-size: 12.5px;
            }
            button{
                font-size: 13px;
                padding: 10px 13px;
            }
        }
        .about-section-img{
            padding-inline: 30px;
            img{
                width: 100%;
                height: auto;
            }
        }
    }

    .what-we-do-section{
        padding-bottom: 65px;
        .what-we-do-section-header{
            h3{
                font-size: 22.4px;
            }
            p{
                width: 300px;
                font-size: 12.5px;
            }
        }
        .what-we-do-section-cards{
            width: 300px;
            .what-we-do-section-cards-row{
                padding-block-start: 20px;
                gap: 20px;
                .card{
                    padding: 20px 15px;
                    gap: 15px;
                    .card-image{
                        height: 52px;
                        padding: 15px;
                        img{
                            width: 25px;
                        }
                    }
                    .card-text{
                        h4{
                            font-size: 13.5px;
                        }
                        span{
                            height: 2px;
                        }
                        p{
                            font-size: 10.5px;
                        }
                    }
                }
            }
        }
    }

    .counter-section{
        flex-wrap: wrap;
        text-align: center;
        gap: 0px;
        height: 250px;
        padding-block: 30px;
        .counter-box{
            width: 40%;
           
        }
    }

    .simple-steps-section{
        padding-bottom: 0px;
        .simple-steps-section-header-text{
            padding-top: 60px;
            padding-bottom: 50px;
            h3{
                font-size: 22.4px;
            }
            p{
                font-size: 12.5px;
                width: 300px;
            }
        }
        .simple-steps-section-imgs-div{
            flex-direction: column;
            .step-ico-line{
                display: none;
            }
        }
        .simple-steps-section-description-text{
            display: none; 
        }
        .simple-steps-section-description-text-mobile{
            display: block;
            padding-block: 30px;
            text-align: center;
            h3{
                font-family: 'Roboto', sans-serif;
                color: $sectionTitleColor;
                font-size: 18px;
            }
            p{
                font-family: 'Open Sans', sans-serif;
                color: $sectionTextColor;
                width: 300px;
                font-size: 11px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        .simple-steps-section-description-text-mobile:nth-last-child(1){
            padding-bottom: 2px;
        }
    }

    .featured-work-section{
        padding-bottom: 65px;
        .featured-work-section-text{
            padding-top: 70px;
            padding-bottom: 0px;
            h3{
                font-size: 22.4px;
            }
            p{
                width: 300px;
                font-size: 12.5px;
            }
        }
    }

    .featured-work-images-section{
        .featured-work-images-div-all{
            .featured-work-images-div{
                img{
                    max-width: 300px;
                    width: 100%;
                    height: auto;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .best-service-section{
        background-color: #ececec;
        .best-service-section-text{
            padding-top: 35px;
            padding-bottom: 70px;
            h3{
                font-size: 22.4px;
            }
            p{
                width: 300px;
                font-size: 12.5px;
            }
        }
    }

    .best-service-images-section{
        padding-top: 80px;
        padding-bottom: 25px;
        .best-service-images-section-row{
            img{
                all: initial;
                width: 300px;
            }
            .best-service-images-section-text{
                padding-inline: 0px;
                padding-block: 50px;
                align-items: center;
                h3{
                    letter-spacing: 2px;
                }
                p{
                    font-size: 12.5px;
                    line-height: 25px;
                    width: 300px;
                }
    
            }
        }
    }
}