@import "./variables";
@import "./fonts";
@media only screen and (max-width: 900px) {

    .stop-scroll{
        overflow: hidden;
    }

    header{
        #logo-text{
            font-size: 34px;
        }
        nav{
            display: none;
        }
        .mobile-menu-div{
            z-index: 3;
            margin-right: 50px;
            &:hover{
                cursor: pointer;
            }
            .menu-icon{
                width: 28px;
                height: 2px;
                background-color: $mainOrange;
                margin: 5px 0px;
                border-radius: 10px;
                transition: 0.4s;
            }
            .bar-1.open{
                width: 20px;
                transform: rotate(405deg);
                margin: 0px;
            }
            .bar-2.open{
                transform: translateX(-20px);
                // background: transparent;
            }
            .bar-3.open{
                width: 20px;
                transform: rotate(-405deg); 
                margin: 0px;
            }
        }
        .mobile-menu-items{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 0;
            position: fixed;
            top: 0; /* Stay at the top */
            right: 0;
            z-index: 2;
            background-color: #333b46;
            overflow: hidden;
            transition: 0.4s;
            a{
                font-family: 'Open Sans', sans-serif;
                padding-block: 12px;
                text-align: right;
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                color: $mainOrange;
                display: block;
                transition: 0.3s;
            }
        }
        .mobile-menu-items.open{
            width: 100%;
            background-color: #333b46fc;
        }
    }

    .header-section{
        #header-img-headphones{
            top: 140px;
            width: 120px;
        }
        #header-img-sunglasses{
            top: 430px;
            left: 80px;
            width: 90px;
        }
        #header-img-pencil1{
            top: 565px;
            left: 52px;
            width: 75px;
        }
        #header-img-pencil2{
            top: 550px;
            left: 30px;
            width: 100px;
        }
        h1{
            font-size: 32px;
            letter-spacing: 3px;
        }
        h3{
            font-size: 14px;
            letter-spacing: 5px;
            margin-right: 37px;
        }
        #header-img-cork{
            right: 50px;
            width: 60px;
        }
        #header-img-glass{
            top: 220px;
            right: 42px;
            width: 53px;
        }
        #header-img-pen-holder{
            right: 15px;
            width: 70px;
        }
        #header-img-mouse{
            top: 500px;
            right: 130px;
            width: 45px;
        }
        p{
            font-size: 12px;
        }
    }

    .about-section{
        flex-direction: column;
        padding-block: 80px;
        .about-section-text{
            text-align: center;
            hr{
                margin-right: auto;
                margin-left: auto;
            }
        }
        .about-section-img{
            img{
                width: 390px;
            }
        }
    }

    .what-we-do-section{
        padding-bottom: 70px;
        .what-we-do-section-header{
            p{
                width: 450px;
                font-size: 14.4px;
            }
        }
        .what-we-do-section-cards{
            width: 430px;
            .what-we-do-section-cards-row{
                flex-direction: column;
                .card{
                    padding: 35px 25px;
                }
            }
        }
    }
    
    .counter-section{
        height: 250px;
        gap: 25px;
        .counter-box{
            i{
                font-size: 22px;
            }
            .number{
                font-size: 22px;
            }
            .text{
                margin-top: 12px;
                font-size: 11px;
            }
            span{
                margin-top: 15px;
            }
        }
    }

    .simple-steps-section{
        padding-bottom: 70px;
        .simple-steps-section-header-text{
            p{
                width: 450px;
                font-size: 14.4px;
            }
        }
        .simple-steps-section-imgs-div{
            img{
                width: 80px;
            }
            .step-ico-line{
                width: 80px;
            }
        }

        .simple-steps-section-description-div{
            padding-bottom: 15px;
            gap: 20px;
            .simple-steps-section-description-text{
                width: 140px;
                h3{
                    font-size: 11px;
                    letter-spacing: 1.5px;
                }
                p{
                    display: inline-block;
                    font-size: 10px;
                    margin-top: 22px;
                    vertical-align: top;
                }
            }
        }
    }

    .featured-work-section{
        .featured-work-section-text{
            padding-block: 70px;
            p{
                width: 450px;
                font-size: 14.4px;
            }
        }
    }

    .featured-work-images-section{
    
        .featured-work-images-div-all{
            flex-direction: column;
    
            .featured-work-images-div{
                margin-right: auto;
                margin-left: auto;

                img{
                    max-width: 350px;
                    width: 100%;
                    height: auto;
                    margin-bottom: 30px;
    
                    &:hover + .hide{
                        display: none;
                    }
                    &:hover{
                        filter: none;
                    }
                }
    
                .overlay{
                    display: none;
                }
    
                button{
                    display: none;
                }
            }
        }
    }

    .best-service-section{
        background-color: #ececec;
        .best-service-section-text{
            padding-top: 50px;
            padding-bottom: 85px;
            p{
                width: 450px;
                font-size: 14.4px;
            }
        }
    }

    .best-service-images-section{
        padding-top: 100px;
        padding-bottom: 40px;
        .best-service-images-section-row{
            flex-direction: column;

            img{
                max-width: 420px;
            }
            .best-service-images-section-text{
                padding-inline: 70px;
                padding-block: 50px;
                align-items: center;
    
                h3{
                    font-family: 'Roboto', sans-serif;
                    letter-spacing: 2px;
                    margin-bottom: 20px;
                }
    
                span{
                    display: inline-block;
                    width: 45px;
                    margin-bottom: 10px; 
                }
    
                p{
                    font-size: 15px;
                    line-height: 30px;
                    margin-top: 20px;
                    max-width: 1000px;
                    text-align: center;
                }
    
            }
        }
        .best-service-images-section-row.middle{
                flex-direction: column-reverse ; 
        }
    }
}