@import "./variables";
@import "./fonts";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #ececec;
}

// Header section
header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding-block: 40px;
    background-color: #e5e5e5;
    z-index: 1;

    #logo-text{
        font-family: 'Leckerli One', cursive;
        margin-right: auto;
        margin-left: 99px;
        color: $mainOrange;
        font-size: 37.33px;
    }

    nav{
        margin-right: 99px;

        ul{
            display: flex;
            list-style-type: none;
            
            li{
                
                a{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18.66px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #333b46;
                    padding-inline: 15px;
                    &:hover{
                        color: $mainOrange !important;
                        cursor: pointer;
                        transition: 0.2s;
                    }
                }
            }
        }
    }
    
    .mobile-menu-items{
        display: none;
    }
  

}

.header-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
    height: 800px;
    z-index: 0;

    #header-img-headphones{
        position: absolute;
        top: 180px;
        left: 0px;
        width: 200px;
    }

    #header-img-sunglasses{
        position: absolute;
        top: 440px;
        left: 175px;
        width: 155px;
    }

    #header-img-pencil1{
        position: absolute;
        top: 622px;
        left: 110px;
    }

    #header-img-pencil-2{
        position: absolute;
        top: 590px;
        left: 70px;
    }

    h1{
        margin-top: 320px;
        color: #333b46;
        font-size: 46.66px;
        letter-spacing: 3.5px;
    }

    h3{
        color: #81868e;
        font-size: 21.33px;
        letter-spacing: 6px;
        margin-right: 62px;
        margin-top: 5px;
    }

    #header-img-cork{
        position: absolute;     
        top: 230px;   
        right: 80px;
        width: 95px;
    }

    #header-img-glass{
        position: absolute;
        top: 215px;
        right: 70px;
        width: 86px;
    }

    #header-img-pen-holder{
        position: absolute;
        top: 400px;
        right: 18px;
        width: 130px;
    }

    #header-img-mouse{
        position: absolute;
        top: 550px;
        right: 180px;
        width: 75px;
    }

    #scroll-down-ico{
        margin-top: 250px;

        &:hover{
            cursor: pointer;
        }
    }

    p{
        font-family: 'Open Sans', sans-serif;
        margin-top: 12px;
        font-size: 14px;
        color: $mainOrange;
    }
}

// About section
.about-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: #f3f3f3;
    padding-block: 110px;
   
    .about-section-text{
        width: 450px;

        h3{
            font-family: 'Roboto', sans-serif;
            margin-bottom: 18px;
            color: $sectionTitleColor;
            font-size: $sectionTitle; 
            letter-spacing: $sectionTitleLetterSpacing;
        }

        hr{
            @include hrLine;
            margin-bottom: 40px;
        }

        p{
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 40px;
            color: $sectionTextColor;
            font-size: $sectionText;
        }

        button{
            font-family: 'Roboto', sans-serif;
            font-weight: lighter;
            font-size: 15px;
            border: none;
            padding: 12px 15px;
            border-radius: 6px;
            letter-spacing: 2px;
            background-color: #e84c3d;
            color: white;
            &:hover{
                background-color: #e5e5e5;
                color: $mainOrange;
                cursor: pointer;
                transition: 0.2s;
            }
        }
    }

    .about-section-img{
        
        img{
            width: 400px;
        }
    }
}

// What we do section
.what-we-do-section{
    background-color: #f3f3f3;
    padding-bottom: 100px;

    .what-we-do-section-header{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 35px;

        h3{
            font-family: 'Roboto', sans-serif;
            font-size: $sectionTitle;
            color: $sectionTitleColor;
            letter-spacing: $sectionTitleLetterSpacing;
            margin-bottom: 18px;
        }

        hr{
            width: 50px;
            @include hrLine;
            margin-bottom: 35px;
        }

        p{
            font-family: 'Open Sans', sans-serif;
            font-size: $sectionText;
            color: $sectionTextColor;
            width: 600px;
            text-align: center;
        }
    }

    .what-we-do-section-cards{
        width: 950px;
        margin-left: auto;
        margin-right: auto;
        &:hover{
            cursor: pointer;
        }

        .what-we-do-section-cards-row{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 25px;
            padding-block-start: 25px;

            .clicked-card{
                background-color: #e84c3d;
                color: #ffffff !important;
            }
            .clicked-card-image{
                background-color: #f3f3f3 !important;
            }
            
            .card{
                display: flex;
                flex-direction: row;
                justify-content: center;
                border: 2px solid #ebebeb;
                border-radius: 10px;
                padding: 40px 25px;
                gap: 20px;
                color: $sectionTextColor;

                .card-image{
                    height: 76px;
                    background-color: $mainOrange;
                    padding: 22px;
                    border-radius: 50%;
                    
                    img{
                        width: 35px;
                    }
                }

                .card-text{

                    h4{
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        font-size: 15px;
                        margin-top: 12px;
                        margin-bottom: 10px;
                        letter-spacing: 1.5px;
                    }

                    .clicked-span{
                        background-color: #ffffff;
                    }

                    span{
                        display: inline-block;
                        height: 2.3px;
                        width: 30px;
                        margin-bottom: 15px;
                        background-color: $sectionTextColor;
                        border-radius: 2px; 
                    }

                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

// Counter Section
.counter-section{
    background-image: url("../img/counterBack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    font-family: 'Roboto', sans-serif;

    .counter-box{
        color: white;

        i{
            font-size: 40px;
            padding-right: 10px;
        }

        .number{
            font-size: 40px;
            letter-spacing: 3px;
            display: inline;
        }

        .text{
            margin-top: 18px;
            font-size: 16px;
        }
        
        span{
            display: inline-block;
            margin-top: 20px;
            background-color: white;
            width: 40px;
            border-radius: 5px;
            height: 2.5px;
        }
    }
}

// Three simple steps section
.simple-steps-section{
    background-color: #f3f3f3;

    .simple-steps-section-header-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 90px;

        h3{
            font-family: 'Roboto', sans-serif;
            font-size: $sectionTitle;
            color: $sectionTitleColor;
            letter-spacing: $sectionTitleLetterSpacing;
            margin-bottom: 18px;
        }

        hr{
            width: 50px;
            @include hrLine;
            margin-bottom: 35px;
        }

        p{
            font-family: 'Open Sans', sans-serif;
            font-size: $sectionText;
            color: $sectionTextColor;
            width: 600px;
            text-align: center;
        }
    }

    .simple-steps-section-imgs-div{
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 110px;
        }

        .step-ico-line{
            display: inline-block;
            height: 3px;
            width: 260px;
            background-color: #ebebeb;
        }
    }

    .simple-steps-section-description-div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        margin-top: 40px;
        padding-bottom: 90px;

        .simple-steps-section-description-text{
            text-align: center;
            width: 340px;
            color: #333b46;

            h3{
                font-family: 'Roboto', sans-serif;
                color: $sectionTitleColor;
                letter-spacing: 2px;
            }

            p{
                font-family: 'Open Sans', sans-serif;
                color: $sectionTextColor;
                letter-spacing: 0.5px;
                font-size: 15px;
                margin-top: 25px;
            }
        }
    }
    .simple-steps-section-description-text-mobile{
        display: none;
    }
}

// Featured work section
.featured-work-section{
    background-color: #ececec;

    .featured-work-section-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 100px;

        h3{
            font-family: 'Roboto', sans-serif;
            font-size: $sectionTitle;
            color: $sectionTitleColor;
            letter-spacing: $sectionTitleLetterSpacing;
            margin-bottom: 18px;
        }

        hr{
            width: 50px;
            @include hrLine;
            margin-bottom: 35px;
        }

        p{
            font-family: 'Open Sans', sans-serif;
            font-size: $sectionText;
            color: $sectionTextColor;
            width: 600px;
            text-align: center;
        }
    }
}

// Featured work images section
.featured-work-images-section{
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ececec;

    .featured-work-images-div-all{
        display: flex;
        justify-content: center;

        .featured-work-images-div{
            position: relative;
            flex-grow: 1;

            img{
                width: 100%;
                height: auto;
            }

            &:hover{

                .hide{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0.9;
                    padding: 120px 150px;
                    background-color: $mainOrange;
                    margin-top: -22px;
                }
            }

            .hide{
                opacity: 0;

                button{
                    display: absolute;
                    width: 120px;
                    background-color: transparent;
                    border: 1px solid white;
                    color: white;
                    border-radius: 10px;
                    padding: 10px 16px;
                    cursor: pointer;
                }
            }  
        }
    }
}

// Best service section
.best-service-section{
    background-color: #ececec;

    .best-service-section-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 100px;

        h3{
            font-family: 'Roboto', sans-serif;
            font-size: $sectionTitle;
            color: $sectionTitleColor;
            letter-spacing: $sectionTitleLetterSpacing;
            margin-bottom: 18px;
        }

        hr{
            width: 50px;
            @include hrLine;
            margin-bottom: 35px;
        }

        p{
            font-family: 'Open Sans', sans-serif;
            font-size: $sectionText;
            color: $sectionTextColor;
            width: 600px;
            text-align: center;
        }
    }
}

// Best service images section
.best-service-images-section{
    background-color: $mainOrange;
    margin-right: auto;
    margin-left: auto;

    .best-service-images-section-row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: $mainOrange;

        img{
            max-width: 650px;
        }

        .best-service-images-section-text{
            display: flex;
            flex-direction: column;
            padding-inline: 130px;
            padding-block: 50px;
            color: white;

            h3{
                font-family: 'Roboto', sans-serif;
                letter-spacing: 2px;
                margin-bottom: 20px;
            }

            span{
                display: inline-block;
                height: 2.3px;
                width: 45px;
                margin-bottom: 10px;
                background-color: white;
                border-radius: 2px; 
            }

            p{
                font-family: 'Open Sans', sans-serif;
                letter-spacing: 0.5px;
                font-size: 15px;
                font-weight: lighter;
                line-height: 30px;
                margin-top: 20px;
                letter-spacing: 1px;
                max-width: 1000px;
            }

        }
    }

    .best-service-images-section-row .middle{
        flex-direction: row-reverse;
    }
}

// Business ideas section
.business-ideas-section{
    background-image: url("../img/business.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: white;
    
    h1{
        font-weight: 300;
        font-size: 35px;
        letter-spacing: 4.5px;
    }
    
    h3{
        font-weight: 300;
        font-size: 21.33px;
        letter-spacing: 4px;
        padding-block: 22px;
    }

    button{
        font-weight: 300;
        background-color: $mainOrange;
        padding: 13px 15px;
        border: none;
        border-radius: 5px;
        color: white;
        margin-top: 18px;
        &:hover{
            background-color: rgba(255, 255, 255, 0.767);
            color: $mainOrange;
            transition: 0.2s;
            cursor: pointer;
        }
    }
}

// Portfolio section
.portfolio-section{
    background-color: #ececec;

    .portfolio-section-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 0px;

        h3{
            font-family: 'Roboto', sans-serif;
            font-size: $sectionTitle;
            color: $sectionTitleColor;
            letter-spacing: $sectionTitleLetterSpacing;
            margin-bottom: 18px;
        }

        hr{
            width: 50px;
            @include hrLine;
            margin-bottom: 35px;
        }

        p{
            font-family: 'Open Sans', sans-serif;
            font-size: $sectionText;
            color: $sectionTextColor;
            width: 600px;
            text-align: center;
        }
    }
}

// Categories section
.categories-section{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    color: $sectionTitleColor;
    padding-block: 80px;

    p{
        &:hover{
            cursor: pointer;
        }
    }

    span{
        padding-inline: 20px;
        color: $sectionTitleColor;
    }
}

// Gallery section
.gallery-section{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 1750px;

    .gallery-section-row{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        div{
            flex-grow: 1;
            position: relative;

            img{
                width: 100%;
                height: 100%;
            }

            // Overlay position
            &:hover{

                .img-overlay{
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0.9;
                }
            }

            // Overlay style
            .img-overlay{
                opacity: 0;
                display: none;

                // General style for image overlay
                .img-overlay-background-orange{
                    background-color: $mainOrange;
                    font-family: 'Roboto', sans-serif;
                    position: relative;

                    h3, p, span{
                        position: absolute;
                        bottom: 0;
                    }

                    h3{
                        color: white;
                        font-weight: 500;
                        letter-spacing: 2.5px;
                    }

                    p{
                        color: white;
                        font-weight: 300;
                        letter-spacing: 2.5px;
                    }

                    span{
                        background-color: white;
                        height: 2px;
                        border-radius: 10px;
                    }

                }

                // Custom style for each image
                .img-1{
                    width: 360px;
                    height: 200px;
                    margin-left: -5px;

                    h3, p, span{
                        left: 35px;
                    }

                    h3{
                        bottom: 70px;
                    }

                    p{
                        bottom: 50px;
                    }

                    span{
                        width: 40px;
                        bottom: 35px;
                    }
                }

                .img-2{
                    width: 360px;
                    height: 455px;
                    margin-left: -5px;

                    h3, p, span{
                        left: 35px;
                    }

                    h3{
                        bottom: 70px;
                    }

                    p{
                        bottom: 50px;
                    }

                    span{
                        width: 40px;
                        bottom: 35px;
                    }
                }

                .img-3{
                    width: 360px;
                    height: 165px;
                    margin-left: -5px;

                    h3, p, span{
                        left: 35px;
                    }

                    h3{
                        bottom: 70px;
                    }

                    p{
                        bottom: 50px;
                    }

                    span{
                        width: 40px;
                        bottom: 35px;
                    }
                }

                .img-4{
                    width: 360px;
                    height: 165px;
                    margin-left: -5px;

                    h3, p, span{
                        left: 35px;
                    }

                    h3{
                        bottom: 70px;
                    }

                    p{
                        bottom: 50px;
                    }

                    span{
                        width: 40px;
                        bottom: 35px;
                    }
                }

                .img-5{
                    width: 462px;
                    height: 455px;

                    h3, p, span{
                        left: 35px;
                    }

                    h3{
                        bottom: 70px;
                    }

                    p{
                        bottom: 50px;
                    }

                    span{
                        width: 40px;
                        bottom: 35px;
                    }
                }

                .img-6{
                    width: 462px;
                    height: 216px;

                    h3, p, span{
                        left: 35px;
                    }

                    h3{
                        bottom: 70px;
                    }

                    p{
                        bottom: 50px;
                    }

                    span{
                        width: 40px;
                        bottom: 35px;
                    }
                }

                .img-7{
                    width: 462px;
                    height: 376px;

                    h3, p, span{
                        left: 35px;
                    }

                    h3{
                        bottom: 70px;
                    }

                    p{
                        bottom: 50px;
                    }

                    span{
                        width: 40px;
                        bottom: 35px;
                    }
                }

                .img-8{
                    width: 430px;
                    height: 200px;

                    h3, p, span{
                        left: 35px;
                    }

                    h3{
                        bottom: 70px;
                    }

                    p{
                        bottom: 50px;
                    }

                    span{
                        width: 40px;
                        bottom: 35px;
                    }
                }

                // img-9
                // img-10

                .img-11{
                    width: 430px;
                    height: 210px;

                    h3, p, span{
                        left: 35px;
                    }

                    h3{
                        bottom: 70px;
                    }

                    p{
                        bottom: 50px;
                    }

                    span{
                        width: 40px;
                        bottom: 35px;
                    }
                }

                .img-12{
                    width: 430px;
                    height: 370px;

                    h3, p, span{
                        left: 35px;
                    }

                    h3{
                        bottom: 70px;
                    }

                    p{
                        bottom: 50px;
                    }

                    span{
                        width: 40px;
                        bottom: 35px;
                    }
                }
            }
        }

        // STYLE ZA DVE NAJMANJE SLICICE U GALERIJI --------------------------------------------------------------------------------

        .gallery-section-row-colum{
            display: flex;

            div{
                position: relative;
                flex-grow: 1;

                img{
                    width: 100%;
                    height: 100%;
                }

                // Ovde podesavamo poziciju overlaya

                &:hover{

                    .img-overlay{
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 0.9;
                    }
                }

                // Ovde pisemo stil za overlay
    
                .img-overlay{
                    opacity: 0;
                    display: none;
    
                    .img-overlay-background-orange{
                        font-family: 'Roboto', sans-serif;

                        h3{
                            font-weight: 500;
                        }
    
                        p{
                            font-weight: 300;
                        }
                    }

                    .img-9{
                        width: 190px;
                        height: 205px;

                        h3, p, span{
                            left: 20px;
                        }

                        h3{
                            bottom: 60px;
                            font-size: 12px;
                        }

                        p{
                            bottom: 40px;
                            font-size: 12px;
                        }

                        span{
                            width: 30px;
                            bottom: 20px;
                        }
                    }

                    .img-10{
                        width: 190px;
                        height: 205px;

                        h3, p, span{
                            left: 20px;
                        }

                        h3{
                            bottom: 60px;
                            font-size: 12px;
                        }

                        p{
                            bottom: 40px;
                            font-size: 12px;
                        }

                        span{
                            width: 30px;
                            bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

// Subscribe section
.subscribe-section{
    background-image: url("../img/subscribe.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .subscribe-section-text{

        h3{
            font-family: 'Roboto', sans-serif;
            font-size: 23px;
            color: white;
            letter-spacing: $sectionTitleLetterSpacing;
            margin-bottom: 18px;
            font-weight: 300;
        }

        span{
            display: inline-block;
            height: 2px;
            width: 80px;
            margin-bottom: 10px;
            background-color: white;
            border-radius: 2px; 
        }

        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: white;
            width: 500px;
            font-weight: 300;
            line-height: 30px;
            margin-top: 10px;
        }
    }

    .subscribe-section-form{
        position: relative;

        form{
            display: flex;
            font-family: 'Open Sans', sans-serif;

            input[type="email"]{
                background-color: transparent;
                border: 1px solid white;
                width: 350px;
                padding-left: 25px;
                color: white;
                &::placeholder{
                    padding: 15px;
                }
                outline: none;
            }

            input[type="button"]{
                background-color: transparent;
                border: 1px solid white;
                color: white;
                padding: 15px 40px;
                &:hover{
                    background-color: white;
                    color: $mainOrange;
                    cursor: pointer;
                }
            }

            // Snackbar - Toast message

            #snackbar {
                visibility: hidden;
                font-size: 12.33px;
                min-width: 180px;
                margin-left: -125px; /* Divide value of min-width by 2 */
                background-color: white;
                color: $mainOrange;
                text-align: center;
                padding: 10px;
                position: absolute;
                left: 125px;
                top: 60px;
                opacity: 0;
            }

            #snackbar.show {
                visibility: visible;
                opacity: 1;
                transition: 0.2s;
            }

        }
    }
}

// Crew section
.crew-section{
    background-color: #ececec;

    .crew-text-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 70px;

        h3{
            font-family: 'Roboto', sans-serif;
            font-size: $sectionTitle;
            color: $sectionTitleColor;
            letter-spacing: $sectionTitleLetterSpacing;
            margin-bottom: 18px;
        }

        hr{
            width: 50px;
            @include hrLine;
            margin-bottom: 35px;
        }

        p{
            font-family: 'Open Sans', sans-serif;
            font-size: $sectionText;
            color: $sectionTextColor;
            width: 600px;
            text-align: center;
        }
    }
}

// Crew image section
.crew-image-section{
    background-color: #ececec;

    .crew-all-images-div{
        padding-bottom: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-inline: 30px;

        .crew-image-box{
            position: relative;
            text-align: center;
            font-family: 'Roboto', sans-serif;

            img{
                width: 100%;
                height: auto;
            }

            // Overlay position
            &:hover{

                .crew-img-overlay{
                    display: block;
                    position: absolute;
                    top: 67%;
                    left: 50%;
                    transform: translate(-50%, -67%);
                    opacity: 1;
                }
            }

            // Overlay style
            .crew-img-overlay{
                display: none;
                opacity: 0;
                height: 160px;
                width: 240px;
                background-color: $mainOrange;
                position: relative;

                p{
                    position: absolute;
                    color: white;
                    font-weight: 300;
                    font-size: 11px;
                    letter-spacing: 1.2px;
                    padding-inline: 14px;
                    line-height: 20px;
                    top: 30px;
                }   

                i{
                    position: absolute;
                    color: white;
                    border: 1px solid white;
                    border-radius: 50%;
                    cursor: pointer;
                    font-size: 14px;
                }
                
                i:nth-child(2){
                    bottom: 10%;
                    left: 40%;
                    transform: translate(-40%, -10%);
                    padding: 6px 9px;
                }

                i:nth-child(3){
                    bottom: 10%;
                    left: 60%;
                    transform: translate(-60%, -10%);
                    padding: 6.2px 8px;
                }
            }

            h3{
                font-weight: 500;
                font-size: 18px;
                color: #333b46;
                letter-spacing: 3px;
                margin-top: 30px;
            }

            p{  
                font-weight: 300;
                font-size: 12px;
                letter-spacing: 2px;
                color: #333b46;
                margin-top: 5px;
            }
        }
    }
}

// Slider section
.slider-section{
    background-image: url("../img/sliderBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
    .slider-section-div{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        animation-name: fade;
        animation-duration: 1s;

        @keyframes fade {
            from {opacity: 0} 
            to {opacity: 1}
        }

        h4, h3, h2, p, img{
            padding-block: 20px;
        }

        h4{
            font-family: 'Roboto', sans-serif;
            letter-spacing: 5px;
            font-size: 19px;
            font-weight: 300;
        }   

        span{
            height: 2px;
            width: 45px;
            background-color: white;
            margin-top: 0px;
            margin-bottom: 15px;
            border-radius: 10px;
        }

        h3{
            font-family: 'Open Sans', sans-serif;
            font-size: 21px;
            font-weight: lighter;
            letter-spacing: 7px;
        }

        p{
            font-family: 'Open Sans', sans-serif;
            font-style: italic;
            font-size: 15px;
            max-width: 900px;
            text-align: center;
            letter-spacing: 2px;
            line-height: 30px;
        }
        
        h2{
            font-family: 'Roboto', sans-serif;
            color: $mainOrange;
            letter-spacing: 3px;
            font-weight: 500;
            font-size: 22px;
        }
    }

    .prev, .next{
        cursor: pointer;
        position: absolute;
        width: 200px;
        height: 550px;
        visibility: none;
    }

    .prev{
        top: 50%;
        left: 0%;
        transform: translate(-0%, -50%);
    }
      
    .next{
        top: 50%;
        right: 0%;
        transform: translate(-0%, -50%);
    }

    .slider-dots{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-top: 5px;

        .dot{
            height: 12px;
            width: 12px;
            border: 1px solid $mainOrange;
            border-radius: 50%;
            transition: background-color 0.6s ease;
            cursor: pointer;
        }

        .active{
            background-color: $mainOrange
        }
    }
}

// Blog section
.blog-section{
    background-color: #ececec;

    .blog-section-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 70px;

        h3{
            font-family: 'Roboto', sans-serif;
            font-size: $sectionTitle;
            color: $sectionTitleColor;
            letter-spacing: $sectionTitleLetterSpacing;
            margin-bottom: 18px;
        }

        hr{
            width: 50px;
            @include hrLine;
            margin-bottom: 35px;
        }

        p{
            font-family: 'Open Sans', sans-serif;
            font-size: $sectionText;
            color: $sectionTextColor;
            width: 600px;
            text-align: center;
        }
    }

    .blog-section-img{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .img-1, .img-2{
            width: 501px;
            height: 343px;
        }

        .img-1{
            background-image: url("../img/blog1.png");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .img-2{
            background-image: url("../img/blog2.png");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .img-blog-text{
            width: 50%;
            height: 100%;
            background-color: $mainOrange;
            color: white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            float: right;
            padding-inline: 20px;

            h4{
                font-family: 'Roboto', sans-serif;
                padding-bottom: 3px;
                font-weight: 500;
                letter-spacing: 2px;
            }

            h5{
                font-family: 'Roboto', sans-serif;
                padding-bottom: 14px;
                font-weight: 300;
                letter-spacing: 1.5px;
            }
            
            span{
                width: 35px;
                height: 2px;
                background-color: white;
                border-radius: 10px;
                margin-bottom: 22px;
            }

            p{
                font-family: 'Open Sans', sans-serif;
                padding-bottom: 20px;
                font-size: 11px;
                letter-spacing: 1.2px;
            }

            .date{
                font-family: 'Open Sans', sans-serif;

                i{
                    padding-right: 10px;
                    font-size: 14px;
                }
            }
        }
    }
}

// Pricing section
.pricing-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 70px;

    h3{
        font-family: 'Roboto', sans-serif;
        font-size: $sectionTitle;
        color: $sectionTitleColor;
        letter-spacing: $sectionTitleLetterSpacing;
        margin-bottom: 18px;
    }

    hr{
        width: 50px;
        @include hrLine;
        margin-bottom: 35px;
    }

    p{
        font-family: 'Open Sans', sans-serif;
        font-size: $sectionText;
        color: $sectionTextColor;
        width: 600px;
        text-align: center;
    }
}

// Pricing table section
.pricing-table-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;

    .table-div{
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        padding-bottom: 70px;

        table { 
            border: 1px solid  #cfcfcf;
            border-radius: 10px; 
            color: #81868e;
            width: 300px;  
            // box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.4);

            tr:last-child > td {
                border-bottom: none;
              }

            td { 
                border-bottom: 1px solid  #cfcfcf;
                padding: 10px; 
            }

            tr{

                td{
                    padding: 10px;
                    font-size: 14px;
                }
            }

            tr:first-child{

                td{
                    padding-block: 30px;
                    font-weight: bold;
                    font-size: 20px;
                }
            }

            tr:last-child{

                td{
                    padding-block: 30px;

                    button{
                        border: 1px solid  #cfcfcf;
                        border-radius: 8px; 
                        color: #81868e;
                        background-color: transparent;
                        padding: 10px 35px;
                        &:hover{
                            background-color: $mainOrange;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.test{
    height: 600px;
    background-color: #cfcfcf;
}


// MEDIA QUERIES
@import "./media1100.scss";
@import "./media900.scss";
@import "./media550.scss";
