@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ececec;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 40px;
  background-color: #e5e5e5;
  z-index: 1;
}

header #logoText {
  font-family: 'Leckerli One', cursive;
  margin-right: auto;
  margin-left: 99px;
  color: #e84c3d;
  font-size: 37.33px;
}

header nav {
  margin-right: 99px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header nav ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18.66px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333b46;
  padding-inline: 15px;
}

header nav ul li a:hover {
  color: #e84c3d !important;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .mobileMenuItems {
  display: none;
}

.headerSection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  height: 800px;
  z-index: 0;
}

.headerSection #headerImgHeadphones {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 200px;
}

.headerSection #headerImgSunglasses {
  position: absolute;
  top: 440px;
  left: 175px;
  width: 155px;
}

.headerSection #headerImgPencil1 {
  position: absolute;
  top: 622px;
  left: 110px;
}

.headerSection #headerImgPencil2 {
  position: absolute;
  top: 590px;
  left: 70px;
}

.headerSection h1 {
  margin-top: 320px;
  color: #333b46;
  font-size: 46.66px;
  letter-spacing: 3.5px;
}

.headerSection h3 {
  color: #81868e;
  font-size: 21.33px;
  letter-spacing: 6px;
  margin-right: 62px;
  margin-top: 5px;
}

.headerSection #headerImgCork {
  position: absolute;
  top: 230px;
  right: 80px;
  width: 95px;
}

.headerSection #headerImgGlass {
  position: absolute;
  top: 215px;
  right: 70px;
  width: 86px;
}

.headerSection #headerImgPenHolder {
  position: absolute;
  top: 400px;
  right: 18px;
  width: 130px;
}

.headerSection #headerImgMouse {
  position: absolute;
  top: 550px;
  right: 180px;
  width: 75px;
}

.headerSection #scrollDownIco {
  margin-top: 250px;
}

.headerSection #scrollDownIco:hover {
  cursor: pointer;
}

.headerSection p {
  font-family: 'Open Sans', sans-serif;
  margin-top: 12px;
  font-size: 14px;
  color: #e84c3d;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
  background-color: #f3f3f3;
  padding-block: 110px;
}

.aboutSection .aboutSectionText {
  width: 450px;
}

.aboutSection .aboutSectionText h3 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 18px;
  color: #333b46;
  font-size: 25px;
  letter-spacing: 4px;
}

.aboutSection .aboutSectionText hr {
  width: 50px;
  height: 3px;
  background-color: #898989;
  border-radius: 2px;
  margin-bottom: 40px;
}

.aboutSection .aboutSectionText p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
  color: #81868e;
  font-size: 15.4px;
}

.aboutSection .aboutSectionText button {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  border: none;
  padding: 12px 15px;
  border-radius: 6px;
  letter-spacing: 2px;
  background-color: #e84c3d;
  color: white;
}

.aboutSection .aboutSectionText button:hover {
  background-color: #e5e5e5;
  color: #e84c3d;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.aboutSection .aboutSectionImg img {
  width: 400px;
}

.whatWeDoSection {
  background-color: #f3f3f3;
  padding-bottom: 100px;
}

.whatWeDoSection .whatWeDoSectionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
}

.whatWeDoSection .whatWeDoSectionHeader h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #333b46;
  letter-spacing: 4px;
  margin-bottom: 18px;
}

.whatWeDoSection .whatWeDoSectionHeader hr {
  width: 50px;
  width: 50px;
  height: 3px;
  background-color: #898989;
  border-radius: 2px;
  margin-bottom: 35px;
}

.whatWeDoSection .whatWeDoSectionHeader p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15.4px;
  color: #81868e;
  width: 600px;
  text-align: center;
}

.whatWeDoSection .whatWeDoSectionCards {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.whatWeDoSection .whatWeDoSectionCards:hover {
  cursor: pointer;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  -webkit-padding-before: 25px;
          padding-block-start: 25px;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .clickedCard {
  background-color: #e84c3d;
  color: #ffffff !important;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .clickedCardImage {
  background-color: #f3f3f3 !important;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #ebebeb;
  border-radius: 10px;
  padding: 40px 25px;
  gap: 20px;
  color: #81868e;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardImage {
  height: 76px;
  background-color: #e84c3d;
  padding: 22px;
  border-radius: 50%;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardImage img {
  width: 35px;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardText h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardText .clickedSpan {
  background-color: #ffffff;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardText span {
  display: inline-block;
  height: 2.3px;
  width: 30px;
  margin-bottom: 15px;
  background-color: #81868e;
  border-radius: 2px;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardText p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.counterSection {
  background-image: url("../img/counterBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
  font-family: 'Roboto', sans-serif;
}

.counterSection .counterBox {
  color: white;
}

.counterSection .counterBox i {
  font-size: 40px;
  padding-right: 10px;
}

.counterSection .counterBox .number {
  font-size: 40px;
  letter-spacing: 3px;
  display: inline;
}

.counterSection .counterBox .text {
  margin-top: 18px;
  font-size: 16px;
}

.counterSection .counterBox span {
  display: inline-block;
  margin-top: 20px;
  background-color: white;
  width: 40px;
  border-radius: 5px;
  height: 2.5px;
}

.simpleStepsSection {
  background-color: #f3f3f3;
}

.simpleStepsSection .simpleStepsSectionHeaderText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 90px;
}

.simpleStepsSection .simpleStepsSectionHeaderText h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #333b46;
  letter-spacing: 4px;
  margin-bottom: 18px;
}

.simpleStepsSection .simpleStepsSectionHeaderText hr {
  width: 50px;
  width: 50px;
  height: 3px;
  background-color: #898989;
  border-radius: 2px;
  margin-bottom: 35px;
}

.simpleStepsSection .simpleStepsSectionHeaderText p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15.4px;
  color: #81868e;
  width: 600px;
  text-align: center;
}

.simpleStepsSection .simpleStepsSectionImgsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.simpleStepsSection .simpleStepsSectionImgsDiv img {
  width: 110px;
}

.simpleStepsSection .simpleStepsSectionImgsDiv .stepIcoLine {
  display: inline-block;
  height: 3px;
  width: 300px;
  background-color: #ebebeb;
}

.simpleStepsSection .simpleStepsSectionDescriptionDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
  margin-top: 40px;
  padding-bottom: 90px;
}

.simpleStepsSection .simpleStepsSectionDescriptionDiv .simpleStepsSectionDescriptionText {
  text-align: center;
  width: 340px;
  color: #333b46;
}

.simpleStepsSection .simpleStepsSectionDescriptionDiv .simpleStepsSectionDescriptionText h3 {
  font-family: 'Roboto', sans-serif;
  color: #333b46;
  letter-spacing: 2px;
}

.simpleStepsSection .simpleStepsSectionDescriptionDiv .simpleStepsSectionDescriptionText p {
  font-family: 'Open Sans', sans-serif;
  color: #81868e;
  letter-spacing: 0.5px;
  font-size: 15px;
  margin-top: 25px;
}

.featuredWorkSection {
  background-color: #ececec;
}

.featuredWorkSection .featuredWorkSectionText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 100px;
}

.featuredWorkSection .featuredWorkSectionText h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #333b46;
  letter-spacing: 4px;
  margin-bottom: 18px;
}

.featuredWorkSection .featuredWorkSectionText hr {
  width: 50px;
  width: 50px;
  height: 3px;
  background-color: #898989;
  border-radius: 2px;
  margin-bottom: 35px;
}

.featuredWorkSection .featuredWorkSectionText p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15.4px;
  color: #81868e;
  width: 600px;
  text-align: center;
}

.featuredWorkImagesSection {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ececec;
}

.featuredWorkImagesSection .featuredWorkImagesDivAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featuredWorkImagesSection .featuredWorkImagesDivAll .featuredWorkImagesDiv {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.featuredWorkImagesSection .featuredWorkImagesDivAll .featuredWorkImagesDiv .hide {
  display: none;
}

.featuredWorkImagesSection .featuredWorkImagesDivAll .featuredWorkImagesDiv img {
  width: 100%;
  height: auto;
}

.featuredWorkImagesSection .featuredWorkImagesDivAll .featuredWorkImagesDiv img:hover + .hide {
  display: block;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0.9;
}

.featuredWorkImagesSection .featuredWorkImagesDivAll .featuredWorkImagesDiv img:hover {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  z-index: 5;
}

.featuredWorkImagesSection .featuredWorkImagesDivAll .featuredWorkImagesDiv .overlay {
  background-color: #e84c3d;
  padding: 100px 130px;
}

.featuredWorkImagesSection .featuredWorkImagesDivAll .featuredWorkImagesDiv button {
  display: absolute;
  width: 120px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding: 10px 12px;
  cursor: pointer;
}

.bestServiceSection {
  background-color: #ececec;
}

.bestServiceSection .bestServiceSectionText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 100px;
}

.bestServiceSection .bestServiceSectionText h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #333b46;
  letter-spacing: 4px;
  margin-bottom: 18px;
}

.bestServiceSection .bestServiceSectionText hr {
  width: 50px;
  width: 50px;
  height: 3px;
  background-color: #898989;
  border-radius: 2px;
  margin-bottom: 35px;
}

.bestServiceSection .bestServiceSectionText p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15.4px;
  color: #81868e;
  width: 600px;
  text-align: center;
}

.bestServiceImagesSection {
  background-color: #e84c3d;
  margin-right: auto;
  margin-left: auto;
}

.bestServiceImagesSection .bestServiceImagesSectionRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #e84c3d;
}

.bestServiceImagesSection .bestServiceImagesSectionRow img {
  max-width: 650px;
}

.bestServiceImagesSection .bestServiceImagesSectionRow .bestServiceImagesSectionText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-inline: 130px;
  padding-block: 50px;
  color: white;
}

.bestServiceImagesSection .bestServiceImagesSectionRow .bestServiceImagesSectionText h3 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.bestServiceImagesSection .bestServiceImagesSectionRow .bestServiceImagesSectionText span {
  display: inline-block;
  height: 2.3px;
  width: 45px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 2px;
}

.bestServiceImagesSection .bestServiceImagesSectionRow .bestServiceImagesSectionText p {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: lighter;
  line-height: 30px;
  margin-top: 20px;
  letter-spacing: 1px;
  max-width: 1000px;
}

.bestServiceImagesSection .bestServiceImagesSectionRow .middle {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.test {
  height: 600px;
  background-color: #cfcfcf;
}

@media only screen and (max-width: 1100px) {
  header {
    padding-block: 35px;
  }
  header #logoText {
    margin-left: 60px;
  }
  header nav {
    margin-right: 50px;
  }
  header nav ul li a {
    font-size: 15.66px;
    padding-inline: 12px;
  }
  .headerSection {
    height: 780px;
  }
  .headerSection #headerImgHeadphones {
    top: 140px;
    width: 150px;
  }
  .headerSection #headerImgSunglasses {
    left: 80px;
    width: 120px;
  }
  .headerSection #headerImgPencil1 {
    top: 610px;
    left: 42px;
    width: 100px;
  }
  .headerSection #headerImgPencil2 {
    left: 20px;
    width: 120px;
  }
  .headerSection h1 {
    font-size: 39.66px;
    letter-spacing: 3.5px;
  }
  .headerSection h3 {
    font-size: 18px;
    letter-spacing: 6px;
    margin-right: 36px;
  }
  .headerSection #headerImgCork {
    right: 50px;
    width: 75px;
  }
  .headerSection #headerImgGlass {
    right: 40px;
    width: 68px;
  }
  .headerSection #headerImgPenHolder {
    right: 15px;
    width: 90px;
  }
  .headerSection #headerImgMouse {
    top: 540px;
    right: 160px;
    width: 55px;
  }
  .headerSection #scrollDownIco {
    margin-top: 270px;
    width: 20px;
  }
  .headerSection p {
    font-size: 12px;
  }
  .aboutSection {
    gap: 40px;
  }
  .aboutSection .aboutSectionText {
    width: 400px;
  }
  .aboutSection .aboutSectionText p {
    font-size: 14.4px;
  }
  .aboutSection .aboutSectionImg img {
    width: 360px;
  }
  .whatWeDoSection .whatWeDoSectionHeader p {
    width: 550px;
  }
  .whatWeDoSection .whatWeDoSectionCards {
    width: 840px;
  }
  .whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow {
    gap: 15px;
    -webkit-padding-before: 15px;
            padding-block-start: 15px;
  }
  .counterSection {
    height: 330px;
    gap: 60px;
  }
  .counterSection .counterBox i {
    font-size: 33px;
  }
  .counterSection .counterBox .number {
    font-size: 32px;
  }
  .counterSection .counterBox .text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 900px) {
  .stopScroll {
    overflow: hidden;
  }
  header #logoText {
    font-size: 34px;
  }
  header nav {
    display: none;
  }
  header .mobileMenuDiv {
    z-index: 3;
    margin-right: 50px;
  }
  header .mobileMenuDiv:hover {
    cursor: pointer;
  }
  header .mobileMenuDiv .menuIcon {
    width: 28px;
    height: 2px;
    background-color: #e84c3d;
    margin: 5px 0px;
    border-radius: 10px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  header .mobileMenuDiv .bar1.open {
    width: 20px;
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
    margin: 0px;
  }
  header .mobileMenuDiv .bar2.open {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  header .mobileMenuDiv .bar3.open {
    width: 20px;
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
    margin: 0px;
  }
  header .mobileMenuItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    /* Stay at the top */
    right: 0;
    z-index: 2;
    background-color: #333b46;
    overflow: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  header .mobileMenuItems a {
    font-family: 'Open Sans', sans-serif;
    padding-block: 12px;
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #e84c3d;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .mobileMenuItems.open {
    width: 100%;
    background-color: #333b46fc;
  }
  .headerSection #headerImgHeadphones {
    top: 140px;
    width: 120px;
  }
  .headerSection #headerImgSunglasses {
    top: 430px;
    left: 80px;
    width: 90px;
  }
  .headerSection #headerImgPencil1 {
    top: 565px;
    left: 52px;
    width: 75px;
  }
  .headerSection #headerImgPencil2 {
    top: 550px;
    left: 30px;
    width: 100px;
  }
  .headerSection h1 {
    font-size: 32px;
    letter-spacing: 3px;
  }
  .headerSection h3 {
    font-size: 14px;
    letter-spacing: 5px;
    margin-right: 37px;
  }
  .headerSection #headerImgCork {
    right: 50px;
    width: 60px;
  }
  .headerSection #headerImgGlass {
    top: 220px;
    right: 42px;
    width: 53px;
  }
  .headerSection #headerImgPenHolder {
    right: 15px;
    width: 70px;
  }
  .headerSection #headerImgMouse {
    top: 500px;
    right: 130px;
    width: 45px;
  }
  .headerSection p {
    font-size: 12px;
  }
  .aboutSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-block: 80px;
  }
  .aboutSection .aboutSectionText {
    text-align: center;
  }
  .aboutSection .aboutSectionText hr {
    margin-right: auto;
    margin-left: auto;
  }
  .aboutSection .aboutSectionImg img {
    width: 390px;
  }
  .whatWeDoSection {
    padding-bottom: 70px;
  }
  .whatWeDoSection .whatWeDoSectionHeader p {
    width: 450px;
    font-size: 14.4px;
  }
  .whatWeDoSection .whatWeDoSectionCards {
    width: 430px;
  }
  .whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card {
    padding: 35px 25px;
  }
  .counterSection {
    height: 250px;
    gap: 25px;
  }
  .counterSection .counterBox i {
    font-size: 22px;
  }
  .counterSection .counterBox .number {
    font-size: 22px;
  }
  .counterSection .counterBox .text {
    margin-top: 12px;
    font-size: 11px;
  }
  .counterSection .counterBox span {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 550px) {
  header {
    padding-block: 25px;
  }
  header #logoText {
    font-size: 28px;
    margin-left: 40px;
  }
  header .mobileMenu {
    margin-right: 40px;
  }
  .headerSection {
    height: 600px;
  }
  .headerSection #headerImgHeadphones {
    top: 100px;
    width: 90px;
  }
  .headerSection #headerImgSunglasses {
    top: 360px;
    left: 40px;
    width: 70px;
  }
  .headerSection #headerImgPencil1 {
    top: 455px;
    left: 32px;
    width: 45px;
  }
  .headerSection #headerImgPencil2 {
    top: 445px;
    left: 20px;
    width: 55px;
  }
  .headerSection h1 {
    margin-top: 230px;
    font-size: 28px;
    text-align: center;
  }
  .headerSection h3 {
    font-size: 12px;
    text-align: center;
    margin-right: 0;
  }
  .headerSection #headerImgCork {
    top: 150px;
    right: 50px;
    width: 40px;
  }
  .headerSection #headerImgGlass {
    top: 145px;
    right: 42px;
    width: 38px;
  }
  .headerSection #headerImgPenHolder {
    top: 330px;
    right: 15px;
    width: 50px;
  }
  .headerSection #headerImgMouse {
    top: 400px;
    right: 90px;
    width: 30px;
  }
  .headerSection #scrollDownIco {
    margin-top: 170px;
    width: 17px;
  }
  .headerSection p {
    font-size: 9px;
  }
  .aboutSection {
    padding-block: 50px;
  }
  .aboutSection .aboutSectionText {
    width: 300px;
  }
  .aboutSection .aboutSectionText h3 {
    font-size: 22.4px;
  }
  .aboutSection .aboutSectionText p {
    font-size: 12.5px;
  }
  .aboutSection .aboutSectionText button {
    font-size: 13px;
    padding: 10px 13px;
  }
  .aboutSection .aboutSectionImg {
    padding-inline: 30px;
  }
  .aboutSection .aboutSectionImg img {
    width: 100%;
    height: auto;
  }
  .whatWeDoSection {
    padding-bottom: 65px;
  }
  .whatWeDoSection .whatWeDoSectionHeader h3 {
    font-size: 22.4px;
  }
  .whatWeDoSection .whatWeDoSectionHeader p {
    width: 300px;
    font-size: 12.5px;
  }
  .whatWeDoSection .whatWeDoSectionCards {
    width: 300px;
  }
  .whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow {
    -webkit-padding-before: 20px;
            padding-block-start: 20px;
    gap: 20px;
  }
  .whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card {
    padding: 20px 15px;
    gap: 15px;
  }
  .whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardImage {
    height: 52px;
    padding: 15px;
  }
  .whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardImage img {
    width: 25px;
  }
  .whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardText h4 {
    font-size: 13.5px;
  }
  .whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardText span {
    height: 2px;
  }
  .whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardText p {
    font-size: 10.5px;
  }
  .counterSection {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    gap: 0px;
    height: 250px;
    padding-block: 30px;
  }
  .counterSection .counterBox {
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */