@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 40px;
  background-color: #e5e5e5;
  z-index: 1;
}

header #logoText {
  font-family: 'Leckerli One', cursive;
  margin-right: auto;
  margin-left: 99px;
  color: #e84c3d;
  font-size: 37.33px;
}

header nav {
  margin-right: 99px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header nav ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18.66px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333b46;
  padding-inline: 15px;
}

header nav ul li a:hover {
  color: #e84c3d !important;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.headerSection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  height: 800px;
  z-index: 0;
}

.headerSection #headerImgHeadphones {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 200px;
}

.headerSection #headerImgSunglasses {
  position: absolute;
  top: 440px;
  left: 175px;
  width: 155px;
}

.headerSection #headerImgPencil1 {
  position: absolute;
  top: 622px;
  left: 110px;
}

.headerSection #headerImgPencil2 {
  position: absolute;
  top: 590px;
  left: 70px;
}

.headerSection h1 {
  margin-top: 320px;
  color: #333b46;
  font-size: 46.66px;
  letter-spacing: 3.5px;
}

.headerSection h3 {
  color: #81868e;
  font-size: 21.33px;
  letter-spacing: 6px;
  margin-right: 62px;
  margin-top: 5px;
}

.headerSection #headerImgCork {
  position: absolute;
  top: 230px;
  right: 80px;
  width: 95px;
}

.headerSection #headerImgGlass {
  position: absolute;
  top: 215px;
  right: 70px;
  width: 86px;
}

.headerSection #headerImgPenHolder {
  position: absolute;
  top: 400px;
  right: 18px;
  width: 130px;
}

.headerSection #headerImgMouse {
  position: absolute;
  top: 550px;
  right: 180px;
  width: 75px;
}

.headerSection #scrollDownIco {
  margin-top: 250px;
}

.headerSection #scrollDownIco:hover {
  cursor: pointer;
}

.headerSection p {
  font-family: 'Open Sans', sans-serif;
  margin-top: 12px;
  font-size: 14px;
  color: #e84c3d;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
  background-color: #f3f3f3;
  padding-block: 110px;
}

.aboutSection .aboutSectionText {
  width: 450px;
}

.aboutSection .aboutSectionText h3 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 18px;
  color: #333b46;
  font-size: 25px;
  letter-spacing: 4px;
}

.aboutSection .aboutSectionText hr {
  width: 50px;
  height: 3px;
  background-color: #898989;
  border-radius: 2px;
  margin-bottom: 40px;
}

.aboutSection .aboutSectionText p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
  color: #81868e;
  font-size: 15.4px;
}

.aboutSection .aboutSectionText button {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  border: none;
  padding: 12px 15px;
  border-radius: 6px;
  letter-spacing: 2px;
  background-color: #e84c3d;
  color: white;
}

.aboutSection .aboutSectionText button:hover {
  background-color: #e5e5e5;
  color: #e84c3d;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.aboutSection .aboutSectionImg img {
  width: 400px;
}

.whatWeDoSection {
  background-color: #f3f3f3;
  padding-bottom: 100px;
}

.whatWeDoSection .whatWeDoSectionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
}

.whatWeDoSection .whatWeDoSectionHeader h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #333b46;
  letter-spacing: 4px;
  margin-bottom: 18px;
}

.whatWeDoSection .whatWeDoSectionHeader hr {
  width: 50px;
  width: 50px;
  height: 3px;
  background-color: #898989;
  border-radius: 2px;
  margin-bottom: 35px;
}

.whatWeDoSection .whatWeDoSectionHeader p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15.4px;
  color: #81868e;
  width: 600px;
  text-align: center;
}

.whatWeDoSection .whatWeDoSectionCards {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.whatWeDoSection .whatWeDoSectionCards:hover {
  cursor: pointer;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  -webkit-padding-before: 25px;
          padding-block-start: 25px;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .clickedCard {
  background-color: #e84c3d;
  color: #ffffff !important;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .clickedCardImage {
  background-color: #f3f3f3 !important;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #ebebeb;
  border-radius: 10px;
  padding: 40px 25px;
  gap: 20px;
  color: #81868e;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardImage {
  height: 76px;
  background-color: #e84c3d;
  padding: 22px;
  border-radius: 50%;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardImage img {
  width: 35px;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardText h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardText .clickedSpan {
  background-color: #ffffff;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardText span {
  display: inline-block;
  height: 2.3px;
  width: 30px;
  margin-bottom: 15px;
  background-color: #81868e;
  border-radius: 2px;
}

.whatWeDoSection .whatWeDoSectionCards .whatWeDoSectionCardsRow .card .cardText p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.counterSection {
  background-image: url("../img/counterBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
  font-family: 'Roboto', sans-serif;
}

.counterSection .counterBox {
  color: white;
}

.counterSection .counterBox i {
  font-size: 40px;
  padding-right: 10px;
}

.counterSection .counterBox .number {
  font-size: 40px;
  letter-spacing: 3px;
  display: inline;
}

.counterSection .counterBox .text {
  margin-top: 18px;
  font-size: 16px;
}

.counterSection .counterBox span {
  display: inline-block;
  margin-top: 20px;
  background-color: white;
  width: 40px;
  border-radius: 5px;
  height: 2.5px;
}

.test {
  height: 600px;
  background-color: #cfcfcf;
}
/*# sourceMappingURL=style.css.map */